<launch>
<arg name="robot" default="robot" />
<group ns="$(arg robot)">
  <!-- joypad to cmd_vel -->
  <node pkg="rosmariokart" type="generic_joy_cmd_vel.exe" name="joy_cmd_vel" output="screen"/>
  <!-- joypad to item-->
  <node pkg="rosmariokart" type="generic_joy_item.exe" name="joy_item" output="screen" />
</group>
</launch>
