<launch>

<arg name="robot" 	default="rossumo" />
<arg name="ip" 		default="192.168.2.1" />


<remap from="camera/image_raw" to="image"/>

	
<group ns="$(arg robot)">

	<!-- rossumo driver -->
	<node pkg="rossumo" type="rossumo.exe" name="sumo" respawn="false" output="screen">
		<param name="ip_address" value="$(arg ip)"/>
	</node>
    
	<!-- sumo animations rostopic pub -1 /sumo/animation std_msgs/String "data: 'win'" -->
	<node pkg="rosmariokart" type="sumo_animations.exe" name="sumo_animations"
		respawn="false" output="screen"	args="" >		
	</node>
        
</group>
</launch>
