<launch>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--  HINT:       WIIMOTE MAPPING             -->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--
            Position   Button Name
            0         1
            1         2
            2         A
            3         B (toggle button on back of device)
            4         Plus
            5         Minus
            6         Rocker Left
            7         Rocker Right
            8         Rocker Up
            9         Rocker Down
            10        HOME
-->
<arg name="robot"     default="ros_robot" />
<group ns="$(arg robot)">
  <!-- setting for controller-->
  <param name="axis_angular"     value="1"/>
  <param name="axis_linear"      value="0"/>
  <param name="button_180turn"   value="8"/>
  <param name="button_90turn"    value="6"/>
  <param name="button_anim"      value="0"/>
  <param name="button_deadman"   value="1"/>
  <param name="button_high_jump" value="10"/>
  <param name="button_item"      value="3"/>
  <param name="button_posture"   value="5"/>
  <param name="offset_angular"   value="0"/> <!-- centered -->
  <param name="offset_linear"    value="5.0"/>
  <param name="scale_angular"    value="1"/>
  <param name="scale_linear"     value="1"/>

  <node pkg="wiimote" type="wiimote_node.py" name="wiimote_node"
           respawn="true" output="screen"/>
</group>

</launch>
