<launch>
<!-- change IPs with for instance
$ rosrun rosmariokart  4sumos2router.sh-
-->

<!-- rosmariokart -->
<node pkg="rosmariokart" type="rosmariokart.exe" name="rosmariokart"
      output="screen" required="true" >
  <param name="winw"         value="1300"/>
  <param name="winh"         value="700"/>
  <param name="use_rgb"      value="true"/>

  <param name="player1_name" value="sumo1"/>
  <param name="player2_name" value="sumo2"/>
<!--
  <param name="player3_name" value="sumo3"/>
  <param name="player4_name" value="sumo4"/>
-->
</node>

<!-- drivers -->
<!-- "dummy", "null", "sog", "tesun", "thrustmaster_dual_analog_4", "wii" -->
<include file="$(find rosmariokart)/launch/controller_driver/thrustmaster_dual_analog_4.launch">
  <arg name="robot"   value="sumo1" />
  <arg name="device"  value="/dev/input/js1" />
</include>
<include file="$(find rosmariokart)/launch/robot_driver/sumo_driver.launch">
  <arg name="robot"   value="sumo1" />
  <arg name="ip"      value="192.168.2.11" />
</include>

<include file="$(find rosmariokart)/launch/controller_driver/thrustmaster_dual_analog_4.launch">
  <arg name="robot"   value="sumo2" />
  <arg name="device"  value="/dev/input/js2" />
</include>
<include file="$(find rosmariokart)/launch/robot_driver/sumo_driver.launch">
  <arg name="robot"   value="sumo2" />
  <arg name="ip"      value="192.168.2.12" />
</include>

</launch>
