<launch>
<arg name="p1" value="mip"/>
<node pkg="rosmariokart" type="rosmariokart.exe" name="rosmariokart"
      output="screen" required="true" >
  <param name="winw" value="300"/>
  <param name="winh" value="300"/>
  <param name="race_duration" value="15"/>
  <param name="axis_linear" value="3"/>
  <param name="axis_angular" value="0"/>
  <param name="axis_90turn" value="4"/>
  <param name="axis_180turn" value="5"/>
  <param name="button_item" value="3"/>
  <param name="player1_name" value="$(arg p1)"/>
</node>

<include file="$(find rosmariokart)/launch/rosmariokart_$(arg p1).launch"/>
</launch>
