<launch>
<group ns="mip">
  <param name="scale_linear" value=".6"/>
  <param name="scale_angular" value="1.8"/>
  <!-- Driver for first joystick. -->
  <node pkg="joy" type="joy_node" name="joy1" output="screen" >
    <param name="dev" value="/dev/input/js0" />
    <param name="autorepeat_rate" value="25" />
  </node>
  <!-- MIP driver -->
  <node pkg="rosmip" type="rosmip.exe" name="mip" respawn="true" output="screen"
        args="_device_mac:=00:19:0E:16:AF:22  _mip_mac:=D0:39:72:B7:AF:66
              _use_odometry_speed:=true" />
  <!-- mip animations
  rostopic pub -1 /mip/animation std_msgs/String "data: 'win'" -->
  <node pkg="rosmariokart" type="mip_animations.exe" name="mip_animations" respawn="false" output="screen"
        args="" />
</group>
</launch>
