<launch>

<arg name="robot" default="rossumo" />
<arg name="joydevice" default="/dev/input/js0" />
<arg name="ip" default="192.168.2.1" />

<group ns="$(arg robot)">

	<!-- Driver for the joystick. -->
	<node pkg="joy" type="joy_node" name="joy_$(arg robot)" output="screen" >
		<param name="dev" value="$(arg joydevice)" />
		<param name="autorepeat_rate" value="25" />
	</node>

	<!-- rossumo driver -->
	<node pkg="rossumo" type="rossumo.exe" name="sumo" respawn="false" output="screen">
		<param name="ip_address" value="$(arg ip)"/>
	</node>

	<!-- sumo animations
	rostopic pub -1 /sumo/animation std_msgs/String "data: 'win'" -->
	<node pkg="rosmariokart" type="sumo_animations.exe" name="sumo_animations"
		respawn="false" output="screen"	args="" >
	</node>

</group>
</launch>
