<launch>
<!-- do not use Linux wall time but a simulated time -->
<param name="/use_sim_time" value="true"/>

<remap from="camera/image_raw" to="image" />

<!-- stage -->
<node pkg="stage_ros" type="stageros" name="stageros" required="true"
      args="$(find rosmariokart)/config/Mariocircuit1.world"/>


<!-- rosmariokart -->
<node pkg="rosmariokart" type="rosmariokart.exe" name="rosmariokart"
      output="screen" >

	<param name="winw" 				value="600"/>
	<param name="winh" 				value="400"/>
	<param name="race_duration" 	value="60"/>	<!-- in sec. -->
	<param name="min_time_roulette" value="5"/> 	<!-- in sec. -->
	<param name="use_rgb" 			value="true"/>
	<param name="number_of_cols"	value="4"/> 	

	<param name="player1_name" value="robot_0"/>
	<param name="player2_name" value="robot_1"/>
	<param name="player3_name" value="robot_2"/>
	<param name="player4_name" value="robot_3"/>
<!--
	<param name="player5_name" value="robot_3" />
	<param name="player6_name" value="robot_3" />
	<param name="player7_name" value="robot_3" />
-->

</node>


<!-- first joystick -->
<group ns="robot_0">
  <param name="scale_linear" value=".5"/>
  <param name="scale_angular" value=".5"/>
  <node pkg="joy" type="joy_node" name="joy" output="screen" >
    <param name="dev" value="/dev/input/js0" />
    <param name="autorepeat_rate" value="25" />
  </node>
</group>

<!-- second joystick -->
<group ns="robot_1">
  <param name="scale_linear" value=".5"/>
  <param name="scale_angular" value=".5"/>
  <node pkg="joy" type="joy_node" name="joy" output="screen" >
    <param name="dev" value="/dev/input/js1 "/>
    <param name="autorepeat_rate" value="25" />
  </node>
</group>

<!-- third joystick -->
<group ns="robot_2">
  <param name="scale_linear" value=".5"/>
  <param name="scale_angular" value=".5"/>
  <node pkg="joy" type="joy_node" name="joy" output="screen" >
    <param name="dev" value="/dev/input/js2" />
    <param name="autorepeat_rate" value="25" />
  </node>
</group>

<!-- fourth joystick -->
<group ns="robot_3">
  <param name="scale_linear" value=".5"/>
  <param name="scale_angular" value=".5"/>
  <node pkg="joy" type="joy_node" name="joy" output="screen" >
    <param name="dev" value="/dev/input/js3" />
    <param name="autorepeat_rate" value="25" />
  </node>
</group>


<!--
<node pkg="image_view" type="image_view" output="screen"
      name="rgb_viewer" args="image:=/robot_0/image"/>
<node pkg="vision_utils" type="depth_to_rgb_viewer.exe" output="screen"
      name="depth_viewer" args=" _input_topic:=/robot_0/depth"/>
-->

</launch>
